<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true">

  <!-- metadat-complete="true" disable scanning of webapp and libraries for components of webapplication -->

  <display-name>traffic-viz-serving-gateway-1_0</display-name>

  <context-param>
    <param-name>app.tla</param-name>
    <param-value>TBD</param-value>
  </context-param>
 
</web-app>